@import "tailwindcss";

:root{
    --cor-de-fundo: linear-gradient(135deg, #F20C0CBD 0%, #FF7C1D 25%, #FF7D54 100%);
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #000000;
    --cor-botao: #EB410DDC;
    --botao-hover: #E35D10;
    --fonte-principal: 'Nunito', sans-serif;
    --fonte-secundaria: 'Inter', sans-serif;
}   

html {
    scroll-behavior: smooth;
}

body {
    background: var(--cor-de-fundo);
} 

